/* ========== GLOBAL ========== */

/* ----- GENERAL ----- */
html {
	font-size: 125%;
}

body {
  background: $color-turq;
}

body,
input,
textarea {
	color: $color-grey;
	letter-spacing: 0.05rem;
	font-family: $font-primary;
	line-height: 1.4rem;
	font-size: .8rem;
	font-weight: 400;
}

header {
	height: 60vh;
}

input,
textarea {
	width: 100%;
	margin-bottom: 1rem;
	padding: .5rem .7rem;
	border: none;
}

textarea {
	margin-top: 1rem;
}

img {
	display: block;
	width: 100%;
	min-width: 100%;
}

form,
section,
aside {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1280px;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}

/* ----- FOOTER ----- */
footer {
	padding: .4rem 0;
	text-align: center;
	p {
		margin: 0;
	}
}

/* ----- HELPER CLASSES ----- */
.bg--turq {
	background-color: $color-turq; 
}

.bg--purple {
	background-color: $color-purple; 
}

.bg--navy{
	background-color: $color-navy; 
}