/* ========== LINKS & BUTTONS ========== */
.container__link {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

/* ----- TEXT LINKS ----- */
nav .link__txt.link__txt--active {
	&::after {
		opacity: 1;
	}
}

.link__txt,
.link__txt--active {
	position: relative;
	&::after {
		content: '';
		width: 100%;
		height: 3px;
		position: absolute;
		bottom: -5px;
		left: 0;
		background-color: $color-aqua;
	}
}

.link__txt {
	&::after {
		transform: scaleX(0);
		opacity: 0;
		transition: opacity .5s, transform .2s;
	}
	&:hover::after{ 
		opacity: 1;
		transform: scaleX(1);
	}
}

/* ----- "BUTTON" LINKS ----- */
.link__btn {
	color: $color-purple;
	background-color: $color-aqua;
	font-size: 1.25rem;
	line-height: 2.05rem;
	text-transform: capitalize;
	padding: .3rem .7rem;
	border: 2px solid $color-aqua;
	transition: background-color .2s, color .2s;
	&:hover {
		color: $color-aqua;
	}
}

.bg--purple .link__btn {
	&:hover {
		background-color: $color-purple;
	}
}

.bg--turq .link__btn {
	&:hover {
		background-color: $color-turq;
	}
}

.form__btn {
	width: 100%;
}

/* ----- SOCIAL ICON LINKS ----- */

.link__icon {
	font-size: 1rem;
	margin-right: 1rem;
	transition: color .2s;
	&:hover {
		color: $color-aqua;
	}
}