/* ========== BASE TYPOGRAPHY ========== */
h1,
h2,
h3,
.link__btn {
	margin: 0;
	font-family: $font-secondary;
}

h1 {
	position: absolute;
}

.home h1 {
	font-size: rem-calc(59px);
	bottom: 25%;

	@include media(700px) {
		font-size: rem-calc(64px);
	}

	@include media(900px) {
		font-size: rem-calc(88px);
	}

	@include media(1024px) {
     font-size: rem-calc(100px);   
	}

	@include media(1200px) {
     font-size: rem-calc(120px);   
	}
	
	@include media(1440px) {
     font-size: rem-calc(145px);   
  }
}

.contact h1,
.blog h1 {
	font-size: rem-calc(52px); //sub-pages have smaller sized headings
	line-height: rem-calc(60px);
	
	@include media(500px) {
		font-size: rem-calc(70px);
	}

	@include media(700px) {
		font-size: rem-calc(100px);
	}

	@include media(1024px) {
		font-size: rem-calc(121px);
	}
}

.contact h1 {
	bottom: 33%;

	@include media(347px) {
		bottom: 45%;
	}
}

.blog h1 {
	bottom: 45%;
}

h2 {
	font-size: rem-calc(33px);
	line-height: rem-calc(41px);

	@include media(400px) {
		font-size: rem-calc(40px);
	}

	@include media(600px) {
		font-size: rem-calc(45px);
	}
}
 
h3 {
	font-size: rem-calc(26px);
	line-height: 1rem;
}

a {
	text-decoration: none;
	color: inherit; //set to match color of parent container
}

.comment__date {
	font-size: rem-calc(22px);
	font-weight: 700;
	font-style: italic;
}