/* ========== BASE TYPOGRAPHY ========== */
h1,
h2,
h3,
.link__btn {
	margin: 0;
	font-family: $font-secondary;
}

.home h1 {
	font-size: rem-calc(59px);
	transform: translateY(rem-calc(120px));

	@include media(700px) {
		font-size: rem-calc(64px);
	}

	@include media(800px) {
		transform: translateY(rem-calc(200px));
		font-size: rem-calc(72px);
	}

	@include media(900px) {
		font-size: rem-calc(88px);
	}

	@include media(1024px) {
     font-size: rem-calc(100px);   
  }
}

.contact h1,
.blog h1 {
	font-size: rem-calc(52px); //sub-pages have smaller sized headings
	line-height: rem-calc(60px);
	transform: translateY(rem-calc(60px));
	
	@include media(500px) {
		font-size: rem-calc(70px);
	}

	@include media(700px) {
		font-size: rem-calc(100px);
		transform: translateY(rem-calc(75px));
	}

	@include media(1024px) {
		font-size: rem-calc(121px);
		transform: translateY(rem-calc(90px));
	}
}

h2 {
	font-size: rem-calc(33px);
	line-height: rem-calc(41px);

	@include media(400px) {
		font-size: rem-calc(40px);
	}

	@include media(600px) {
		font-size: rem-calc(45px);
	}
}
 
h3 {
	font-size: rem-calc(26px);
	line-height: 1rem;
}

a {
	text-decoration: none;
	color: inherit; //set to match color of parent container
}

.comment__date {
	font-weight: 700;
	font-style: italic; //change to goodfonts i
}
// h2 {font-size: 2.25rem;} New Space
// h1 {font-size: 2rem;} our programs
// body {font-size: 1rem;}
// nav {font-size: 1rem; font-weight: bold;}