/* ========== VARIABLES ========== */
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Walter Turncoat', cursive;
$color-turq: #03697c;
$color-purple: #474bb5;
$color-navy: #044779;
$color-grey: #f3faff;
$color-aqua: #08fded;
$assetpath: './../../../assets';

/* ========== MIXINS ========== */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position ($pos, $top, $right, $bottom, $left) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin bg-img ($img-name) {
  content: '';
  background: url(#{$assetpath}/#{$img-name}) no-repeat center; // #{} = interpolation for variable path
  background-size: cover;
}

@mixin box-shadow ($x, $y) {
  box-shadow: $x $y $color-aqua;
}

//Adopted from https://thoughtbot.com/blog/sasss-content-directive
@mixin media($screen-size) {
  @media (min-width: $screen-size) {
    @content;
  }
}