/* ========== BLOG ========== */
// ----- ARTICLE -----
main.blog {
  .wrapper {
    padding-right: 0;
  }

  @include media(900px) {
    margin-right: -2rem;
  }
}

section.blog__post {
  border-bottom: solid rem-calc(5px) $color-aqua;
  border-left: solid rem-calc(5px) $color-aqua;
  
  .container__img {
    transform: translateY(-6rem); // Margin makes image disappear behind header
    margin-bottom: -3rem;
    margin-left: .75rem;
    @include box-shadow (-1rem, 1rem);
    overflow: hidden;

    @include media(900px) {
      transform: translateY(-9.2rem);
      margin-bottom: -6rem;
    }

    @include media(1440px) {
      position: absolute;
      right: 0;
      height: 36vw;
    }
  }

  .container__txt-blog-post {
    padding: 1rem;

    @include media(1440px) {
      position: absolute;
      right: 0;
      height: 36vw;
    }
  }
}

// ----- COMMENTS -----
.blog__comments {
  padding: 1rem;

  @include media(400px) {
		padding: 1.5rem;
	}

	@include media(640px) {
		padding: 2rem;
  }
}

.blog .form__comment {
  border: solid rem-calc(2px) $color-aqua;
  height: 9rem;
}

.container__comment {
  margin-bottom: 3rem;
  &:last-of-type {
    margin-bottom: 0;
  }

  @include media(500px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.container__img-user-profile {
  width: rem-calc(90px);
  height: auto;

  @include media(500px) {
    flex-basis: 25%;
    max-width: rem-calc(92px);
    margin-top: 1.3rem;
  }
}

.container__txt-comment {
  @include media(500px) {
    flex-basis: calc(75% - 2rem);
    margin-left: 2rem;
  }
}


// ----- ASIDE -----
aside.blog {
  position: relative;

  &::before {
    content: '';
    position: relative;
    display: block;
    height: rem-calc(300px);
    @include bg-img('blog-side-image.jpg');
    margin: rem-calc(25px 20px -50px 0);
    transform: translateY(rem-calc(-85px));

    @include media(640px) {
      margin-top: -.5rem;
    }

    @include media(700px) {
      position: absolute;
      width: rem-calc(280px);
      top: 3rem;
      left: 0;
    }

    @include media(900px) {
      margin-top: .5rem;
      width: 36vw;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  ul{
    margin-top: 1rem;
  }

  li {
  &::before {
    content: '\2022';
    color: $color-aqua;
    margin-right: rem-calc(16px);
    }
  }

  .container__txt {
    padding: 0 1rem;

    @include media(400px) {
      padding: 0 1.5rem;
    }

    @include media(640px) {
      padding: 0 2rem;
    }

    @include media(700px) {
      width: 60%;
    }

    @include media(700px) {
      width: 100%;
    }

    @include media(900px) {
      margin-top: 12rem;
    }
  }

  @include media(700px) {
      display: flex;
      justify-content: flex-end;
    }
  
  @include media(900px) {
    display: block;
    order: -10;
    text-align: left;
    margin-top: 6rem;
    margin-left: -2rem;
    width: 390px;
  }

  //  @include media(1017px) {
  //   max-width: 19rem;
  // }
}
