/* ========== BLOG ========== */
/* ----- ARTICLE ----- */
.blog section:first-child {
  border-bottom: solid rem-calc(5px) $color-aqua;
}

/* ----- COMMENTS ----- */
.blog .form__comment {
  border: solid rem-calc(2px) $color-aqua;
  height: 9rem;
}

.container__comment {
  margin-bottom: 3rem;
}

section .container__comment:last-of-type {
  margin-bottom: 0;
}

.container__img-user-profile {
  width: rem-calc(90px);
  height: auto;
}

.container__img-user-profile:first-child {
  margin-top: 1rem;
}

/* ----- ASIDE ----- */
aside.blog ul{
  margin-top: 1rem;
}

aside.blog li {
  &::before {
    content: '\2022';
    color: $color-aqua;
    margin-right: rem-calc(16px);
  }
}

aside.blog p {
  margin-bottom: 2rem;
}

aside.blog .container__img {
  position: relative;
  &::before {
    position: relative;
    display: block;
    height: rem-calc(300px);
    @include bg-img('blog-side-image.jpg');
    margin: rem-calc(25px 20px -50px 0);
    transform: translateY(rem-calc(-85px));
  }
}
