/* ========== CONTACT ========== */
header {
  @include bg-img('contact-header.jpg');
}

/* ----- FORM ----- */
.contact input,
.contact textarea {
  background-color: $color-purple;
}

.form__input-name,
.form__input-email {
    border-bottom: solid 2px #fff;
  }

.form__message {
    border: solid 2px #fff;
    height: 9rem;
  }

/* ----- ASIDE ----- */
.contact ul {
  display: flex;
  margin-bottom: .5rem;
  + p {
    margin-bottom: 1.2rem;
  }
}

.contact p {
  margin: 0;
}