/* ========== CONTACT ========== */
header.contact {
  @include bg-img('contact-header.jpg');
  height: 60vh;
}

/* ----- ASIDE ----- */
aside.contact {
  text-align: center;
}

aside.contact ul {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
  + p {
    margin-bottom: rem-calc(25px);
  }
}

.contact p {
  margin: 0;
}