/* ========== CONTACT ========== */
header.contact {
  @include bg-img('contact-header.jpg');
}

/* ----- ASIDE ----- */
aside.contact ul {
  display: flex;
  margin-bottom: .5rem;
  + p {
    margin-bottom: 1.2rem;
  }
}

.contact p {
  margin: 0;
}