/* ========== INDEX ========== */

/* ----- HEADER ----- */
header.home {
  @include bg-img('home-header.jpg'); //! MUST make this a string using '' due to .
  height: 50vh;
}

h1 {
  font-size: 3rem;
  line-height: 2.8rem;
}

/* ----- ABOUT 1 ----- */
.container__icon-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container__icon {
  color: $color-purple;
  background-color: $color-aqua;
  border-radius: 50%;
  padding: .5rem;
  margin-right: .8rem;
  width: 54px;
  height: 54px;
  font-size: 1.4rem;
  @include flex-center;
}

/* ----- ABOUT 2 ----- */
.about .container__img {
  position: relative;
  &::before {
    display: block; //! REMEMBER- pseudo element for img not defined in global
    @include position(relative, null, null, null, null); // null = won't output in .css
    width: calc(100% - 20px);
  }
}

.about--2 .container__img {
  &::before {
    height: 200px;
  }
}

.about--2 .container__img--1 {
  &::before {
    @include bg-img('left-image.jpg');
    margin: 25px 20px 50px 0;
    @include box-shadow(20px, 20px); //! MUST include , to seperate values
  }
}

.about--2 .container__img--2 {
  &::before {
    @include bg-img('right-image.jpg');
    margin: 25px 0 50px 20px;
    @include box-shadow(-20px, 20px);
  }
}

/* ----- IMG BREAK ----- */
.img-break {
  @include bg-img('banner.jpg');
  margin: 0;
  height: 40vh;
}

/* ----- ABOUT 4 ----- */
.about--4 .container__img {
  &::before {
    @include bg-img('small-box.jpg');
    height: 250px;
    margin: 25px 0 50px 20px;
    @include box-shadow(-20px, 20px);  
  }
}

/* ----- GALLERY ----- */
.gallery__item {
  margin: 1rem 0;
}