/* ========== INDEX ========== */
/* ----- ABOUT 1 ----- */
.about .container__img {
  position: relative;
  &::before {
    display: block; //! REMEMBER- pseudo element for img not defined in global
    @include position(relative, null, null, null, null); // null = won't output in .css
    width: calc(100% - 20px); // 10px for box-shadow
  }
}

.about--1 .container__img {
  display: none;

  @include media(640px) { // write media queries directly inside each element to deal with specificity issues 
    display: flex;
    justify-content: flex-end;
  }

  &::before {
    @include bg-img('home-box-header.jpg');
    @include position(relative, -45vh, null, null, null);
    height: 40vw;
    width: 45%;
    margin-bottom: -38%;

    @include media(800px) {
      transform: translateY(rem-calc(-80));
      margin-bottom: -32%;
    }
  }
}

@include media(900px) {
	.about--1 ul {
    display: flex;
    flex-wrap: wrap;
  }
}
  
.about--1 li {
  margin-bottom: 1.8rem;

  @include media(900px) {
    flex-basis: calc(50% - .5rem);
    margin: .5rem;
    &:nth-child(odd) {
      margin-left: 0;
    }
     &:nth-child(even) {
      margin-right: 0;
    }
  }
}

.container__icon-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container__icon {
  color: $color-purple;
  background-color: $color-aqua;
  border-radius: 50%;
  padding: .5rem;
  margin-right: .8rem;
  width: rem-calc(54px);
  height: rem-calc(54px);
  font-size: 1.4rem;
  @include flex-center;
}

@include media(400px) {
   .about--1 li > p {
    padding-left: 3.5rem;
   }
  }

/* ----- ABOUT 2 ----- */
.about--2 {
  .container__img {
    &::before {
      height: 65vw; //Height scales according to width - kudos to https://jonathanwong.dev

      @include media(550px) {
        height: 50vw;
      }
    }
  }

  .container__img--1 {
    &::before {
      @include bg-img('left-image.jpg');
      margin: rem-calc(-70px 20px 60px 0);
      @include box-shadow(1rem, 1rem); //! MUST include , to seperate values

      @include media(800px) {
      margin: rem-calc(-110px 20px 60px 0); 
      }
    }
  }

  .container__img--2 {
    &::before {
      @include bg-img('right-image.jpg');
      margin: rem-calc(0 0 60px 20px);
      @include box-shadow(-1rem, 1rem);
    }
  }
}

@include media(900px) {
  .about--2 {
    .container__img-txt {
      display: flex;
      .container__img,
      .container__txt {
        flex-basis: 50%;
      }
      .container__img {
        &::before {
          height: 35vw;
        }
      }
      .container__img--1 {
        margin-top: rem-calc(-8px);
      }

      .container__img--2 {
        margin-top: 5rem;
        order: 2;
      }
    }

    .container__img-txt:first-child {
      margin-bottom: 1rem;
      .wrapper.container__txt {
      padding-left: 1rem;
      }
    }
    .container__img-txt:last-child {
      margin-bottom: -7rem;
      text-align: right;
      .wrapper.container__txt {
      padding-right: 1rem;
      }
    }
  }
}

/* ----- ABOUT 3 ----- */
.about--3 {
  @include media(400px) {
    text-align: center;
  }
}

/* ----- IMG BREAK ----- */
.img-break {
  @include bg-img('banner.jpg');
  margin: 0;
  height: 70vw;

  @include media(400px) {
    height: 60vw;
  }

  @include media(550px) {
    height: 45vw;
  }

  @include media(800px) {
    height: 35vw;
  }
}

/* ----- ABOUT 4 ----- */
.about--4 {
  .container__img::before {
    @include bg-img('small-box.jpg');
    height: 75vw;
    margin: rem-calc(25px 0 50px 20px);
    @include box-shadow(-1rem, 1rem);

    @include media(600px) {
      width: calc(33% - 1rem);
      height: 26vw;
      float: left;
      margin: rem-calc(5px 20px 20px);
    }

    @include media(900px) {
      float: none;
      width: calc(100% - 1rem);
      margin: rem-calc(5px 0 20px);
    }
  }

  .wrapper {
    @include media(900px) {
      display: flex;
      .container__img {
        flex-basis: 33%;
      }
      .container__txt {
        flex-basis: 67%;
        padding-left: .5rem;
      }
    }
  }
}

/* ----- GALLERY ----- */
.container__gallery-item {
  @include media(600px) {
    display: flex;
    flex-direction: row;
  }
}

.gallery-item {
  margin: 1rem 0;

  @include media(600px) {
    width: calc(100% / 3);
    margin: .5rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}