/* ========== FORMS ========== */
input,
textarea {
  background-color: inherit;
}

textarea {
  resize: vertical;
  height: 9rem;
  margin: 1.4rem 0 2.4rem;
}

  .container__form-input {
  @include media(720px) {
    display: flex;
    input {
      width: 50%;
      // margin: 0 .5rem;
    }
    input.form__input-name {
      margin-right: .7rem;
    }
    input.form__input-email {
      margin-left: .7rem;
    }
  }

  @include media(900px) {
    display: block;
    input {
      width: 100%;
      // margin: 0 .5rem;
    }
    input.form__input-name {
      margin-right: 0;
    }
    input.form__input-email {
      margin-left: 0;
    }
  }

  @include media(1220px) {
    display: flex;
    input {
      width: 50%;
      // margin: 0 .5rem;
    }
    input.form__input-name {
      margin-right: .7rem;
    }
    input.form__input-email {
      margin-left: .7rem;
    }
  }

}

// ----- CONTACT FORM -----
main.contact {
  

  @include media(900px) {
    display: flex;
    position: relative;
    bottom: rem-calc(150px);
    margin-bottom: -2rem;
  }

  @include media(1100px) {
    margin-right: 1rem;
  }
}

.contact form {
  padding: 3rem 2rem;
  @include box-shadow (1rem, 1rem);

  @include media(1100px) {
    padding: 3rem 3.5rem;
  }
}

.contact input {
  border-bottom: solid rem-calc(2px) $color-grey;
}

.contact textarea {
  border: solid rem-calc(2px) $color-grey; 
}

// ----- BLOG FORM -----
.blog input {
  border-bottom: solid 2px $color-aqua;
}