/* ========== FORMS ========== */
input,
textarea {
  background-color: inherit;
}

textarea {
  resize: vertical;
  height: 9rem;
}

@include media(800px) {
  .container__form-input {
    display: flex;
    input {
      flex-basis: 50%;
    }
  }
}

/* ----- CONTACT FORM ----- */
.contact input {
  border-bottom: solid 2px $color-grey;
}

.contact textarea {
  border: solid 2px $color-grey; 
}

  /* ----- BLOG FORM ----- */
.blog input {
  border-bottom: solid 2px $color-aqua;
}