/* ========== FORMS ========== */
input,
textarea {
  background-color: inherit;
}

textarea {
  resize: vertical;
  height: 9rem;
}

.container__form-input {
    input {
      width: 50%;
    }
  }

/* ----- CONTACT FORM ----- */
.contact input {
  border-bottom: solid 2px $color-grey;
}

.contact textarea {
  border: solid 2px $color-grey; 
}

  /* ----- BLOG FORM ----- */
.blog input {
  border-bottom: solid 2px $color-aqua;
}