/* ========== HEADERS ========== */
header.home,
header.blog,
header.contact {
  height: 60vh;
  
  @include media(800px) {
    height: 75vh;
	}
}

header.home {
  @include bg-img('home-header.jpg'); //! MUST make this a string using '' due to .

	@include media(800px) {
    height: 90vh;
	}
}

header.blog {
  @include bg-img('blog-header.jpg');
}

header.contact {
  @include bg-img('contact-header.jpg');
}