/* ========== LINKS & BUTTONS ========== */

.container__link {
	margin-top: 2.6rem;
	margin-bottom: 1rem;
}

// ----- TEXT LINKS -----
.link__txt,
.link__txt--active {
	position: relative;
	&::after {
		content: '';
		width: 100%;
		height: rem-calc(3px);
		position: absolute;
		bottom: rem-calc(-5px);
		left: 0;
		background-color: $color-aqua;
	}
}

.link__txt {
	&::after {
		transform: scaleX(0);
		opacity: 0;
		transition: opacity .5s, transform .2s;
	}
	&:hover::after{ 
		opacity: 1;
		transform: scaleX(1);
	}
}

// ----- "BUTTON" LINKS -----
.link__btn {
	color: $color-purple;
	background-color: $color-aqua;
	font-size: rem-calc(25px);
	text-transform: capitalize;
	padding: rem-calc(8px 18px);
	border: rem-calc(2px) solid $color-aqua;
	transition: background-color .2s, color .2s;
	&:hover {
		color: $color-aqua;
	}
}

.bg--purple .link__btn {
	&:hover {
		background-color: $color-purple;
	}
}

.bg--turq .link__btn {
	&:hover {
		background-color: $color-turq;
	}
}

.form__btn {
	width: 100%;
}

// ----- SOCIAL ICON LINKS -----
.link__icon {
	font-size: rem-calc(22px);
	padding: 0 .6rem;
	transition: color .2s;
	&:hover {
		color: $color-aqua;
	}
}