// This menu is short and fits one line on 320px screen so not implementing hamburger to improve UX and accessibility 
// Based on ideas from the following articles: https://medium.muz.li/3-good-reason-why-you-might-want-to-remove-that-hamburger-menu-from-your-product-69b9499ba7e2 & https://www.nngroup.com/articles/hamburger-menus

/* ========== NAV ========== */
nav {
  text-transform: capitalize;
  font-weight: 700;
  max-width: rem-calc(400px);
}

nav .link__txt.link__txt--active {
	&::after {
		opacity: 1;
	}
}

ul.nav-top {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;

  @include media(800px) {
    padding-top: 3rem;
  }
}