/* ========== NORMALISE ========== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* ========== GLOBAL ========== */
html {
  font-size: 125%;
}

body {
  background: #03697c;
}

body,
input,
textarea {
  color: #f3faff;
  letter-spacing: 0.05rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 1.35rem;
  font-weight: 400;
}

@media (min-width: 600px) {
  body,
  input,
  textarea {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 800px) {
  body,
  input,
  textarea {
    font-size: 1rem;
  }
}

input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 0.9rem;
  border: none;
}

textarea {
  margin-top: 1rem;
}

img {
  display: block;
  width: 100%;
  min-width: 100%;
}

form,
section,
aside {
  padding: 2rem 0;
}

@media (min-width: 640px) {
  form,
  section,
  aside {
    padding: 3rem 0;
  }
}

@media (min-width: 800px) {
  form,
  section,
  aside {
    padding: 4.5rem 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 400px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}

@media (min-width: 640px) {
  .wrapper {
    padding: 0 2rem;
  }
}

footer {
  padding: .4rem 0;
  text-align: center;
}

footer p {
  margin: 0;
}

.bg--turq {
  background-color: #03697c;
}

.bg--purple {
  background-color: #474bb5;
}

.bg--navy {
  background-color: #044779;
}

/* ========== BASE TYPOGRAPHY ========== */
h1,
h2,
h3,
.link__btn {
  margin: 0;
  font-family: "Walter Turncoat", cursive;
}

.home h1 {
  font-size: 2.95rem;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
}

@media (min-width: 700px) {
  .home h1 {
    font-size: 3.2rem;
  }
}

@media (min-width: 800px) {
  .home h1 {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    font-size: 3.6rem;
  }
}

@media (min-width: 900px) {
  .home h1 {
    font-size: 4.4rem;
  }
}

@media (min-width: 1024px) {
  .home h1 {
    font-size: 5rem;
  }
}

.contact h1,
.blog h1 {
  font-size: 2.6rem;
  line-height: 3rem;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

@media (min-width: 500px) {
  .contact h1,
  .blog h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 700px) {
  .contact h1,
  .blog h1 {
    font-size: 5rem;
    -webkit-transform: translateY(3.75rem);
            transform: translateY(3.75rem);
  }
}

@media (min-width: 1024px) {
  .contact h1,
  .blog h1 {
    font-size: 6.05rem;
    -webkit-transform: translateY(4.5rem);
            transform: translateY(4.5rem);
  }
}

h2 {
  font-size: 1.65rem;
  line-height: 2.05rem;
}

@media (min-width: 400px) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.3rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.comment__date {
  font-weight: 700;
  font-style: italic;
}

/* ========== LINKS & BUTTONS ========== */
.container__link {
  margin-top: 2.2rem;
  margin-bottom: 1rem;
}

.link__txt,
.link__txt--active {
  position: relative;
}

.link__txt::after,
.link__txt--active::after {
  content: '';
  width: 100%;
  height: 0.15rem;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  background-color: #08fded;
}

.link__txt::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, transform .2s;
  transition: opacity .5s, transform .2s, -webkit-transform .2s;
}

.link__txt:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.link__btn {
  color: #474bb5;
  background-color: #08fded;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 0.4rem 0.9rem;
  border: 0.1rem solid #08fded;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.link__btn:hover {
  color: #08fded;
}

.bg--purple .link__btn:hover {
  background-color: #474bb5;
}

.bg--turq .link__btn:hover {
  background-color: #03697c;
}

.form__btn {
  width: 100%;
}

.link__icon {
  font-size: 1.1rem;
  padding: 0 .6rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.link__icon:hover {
  color: #08fded;
}

/* ========== NAV ========== */
nav {
  text-transform: capitalize;
  font-weight: 700;
  max-width: 20rem;
}

nav .link__txt.link__txt--active::after {
  opacity: 1;
}

ul.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.5rem;
}

@media (min-width: 800px) {
  ul.nav-top {
    padding-top: 3rem;
  }
}

/* ========== HEADERS ========== */
header.home,
header.blog,
header.contact {
  height: 60vh;
}

@media (min-width: 800px) {
  header.home,
  header.blog,
  header.contact {
    height: 75vh;
  }
}

header.home {
  content: '';
  background: url(./../assets/home-header.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 800px) {
  header.home {
    height: 90vh;
  }
}

header.blog {
  content: '';
  background: url(./../assets/blog-header.jpg) no-repeat center;
  background-size: cover;
}

header.contact {
  content: '';
  background: url(./../assets/contact-header.jpg) no-repeat center;
  background-size: cover;
}

/* ========== FORMS ========== */
input,
textarea {
  background-color: inherit;
}

textarea {
  resize: vertical;
  height: 9rem;
  margin: 1.4rem 0 2.4rem;
}

@media (min-width: 720px) {
  .container__form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__form-input input {
    width: 50%;
  }
  .container__form-input input.form__input-name {
    margin-right: .7rem;
  }
  .container__form-input input.form__input-email {
    margin-left: .7rem;
  }
}

@media (min-width: 900px) {
  .container__form-input {
    display: block;
  }
  .container__form-input input {
    width: 100%;
  }
  .container__form-input input.form__input-name {
    margin-right: 0;
  }
  .container__form-input input.form__input-email {
    margin-left: 0;
  }
}

@media (min-width: 1220px) {
  .container__form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__form-input input {
    width: 50%;
  }
  .container__form-input input.form__input-name {
    margin-right: .7rem;
  }
  .container__form-input input.form__input-email {
    margin-left: .7rem;
  }
}

main.contact {
  -webkit-box-shadow: 1rem 1rem 0 #08fded;
          box-shadow: 1rem 1rem 0 #08fded;
}

@media (min-width: 900px) {
  main.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 7.5rem;
    margin-bottom: -2rem;
  }
}

@media (min-width: 1100px) {
  main.contact {
    margin-right: 1rem;
  }
}

.contact form {
  padding: 3rem 2rem;
}

@media (min-width: 1100px) {
  .contact form {
    padding: 3rem 3.5rem;
    margin-left: -1.5rem;
    margin-top: -1rem;
  }
}

.contact input {
  border-bottom: solid 0.1rem #f3faff;
}

.contact textarea {
  border: solid 0.1rem #f3faff;
}

.blog input {
  border-bottom: solid 2px #08fded;
}

/* ========== INDEX ========== */
.about .container__img {
  position: relative;
  display: block;
  position: relative;
  width: calc(100% - 20px);
}

.about--1 .container__img {
  display: none;
  content: '';
  background: url(./../assets/home-box-header.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  top: -45vh;
  height: 40vw;
  width: 45%;
  margin-bottom: -38%;
}

@media (min-width: 640px) {
  .about--1 .container__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 800px) {
  .about--1 .container__img {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
    margin-bottom: -32%;
  }
}

@media (min-width: 900px) {
  .about--1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about--1 li {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 900px) and (min-width: 900px) {
  .about--1 li {
    -ms-flex-preferred-size: calc(50% - .5rem);
        flex-basis: calc(50% - .5rem);
    margin: .5rem;
  }
  .about--1 li:nth-child(odd) {
    margin-left: 0;
  }
  .about--1 li:nth-child(even) {
    margin-right: 0;
  }
}

.container__icon-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__icon {
  color: #474bb5;
  background-color: #08fded;
  border-radius: 50%;
  padding: .5rem;
  margin-right: .8rem;
  width: 2.7rem;
  height: 2.7rem;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 400px) {
  .about--1 li > p {
    padding-left: 3.5rem;
  }
}

@media (min-width: 800px) {
  .about--2 {
    padding-bottom: 1.5rem;
  }
}

.about--2 .container__img-txt {
  position: relative;
  margin-bottom: 3rem;
}

.about--2 .container__txt::before {
  content: '';
  display: block;
  height: 65vw;
}

@media (min-width: 600px) {
  .about--2 .container__txt::before {
    height: 45vw;
  }
}

@media (min-width: 800px) {
  .about--2 .container__txt::before {
    position: absolute;
    width: 42%;
    height: 35vw;
  }
}

@media (min-width: 1000px) {
  .about--2 .container__txt::before {
    width: 42%;
    height: 30vw;
  }
}

@media (min-width: 800px) {
  .about--2 .container__txt {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .about--2 .container__img-txt--1 .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.about--2 .container__txt--1::before {
  content: '';
  background: url(./../assets/left-image.jpg) no-repeat center;
  background-size: cover;
  margin: -3.5rem 1rem 3rem 0;
  -webkit-box-shadow: 1rem 1rem 0 #08fded;
          box-shadow: 1rem 1rem 0 #08fded;
}

@media (min-width: 800px) {
  .about--2 .container__txt--1::before {
    top: 0;
    left: 0;
  }
}

@media (min-width: 1024px) {
  .about--2 .container__txt--1::before {
    top: -2.5rem;
    left: 0;
  }
}

@media (min-width: 800px) {
  .about--2 .container__txt--1 {
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  .about--2 .container__txt--1 {
    padding-left: 10%;
  }
}

@media (min-width: 800px) {
  .about--2 .container__txt--2 {
    text-align: right;
  }
}

.about--2 .container__txt--2::before {
  content: '';
  background: url(./../assets/right-image.jpg) no-repeat center;
  background-size: cover;
  margin: 0 0 3rem 1rem;
  -webkit-box-shadow: -1rem 1rem 0 #08fded;
          box-shadow: -1rem 1rem 0 #08fded;
}

@media (min-width: 800px) {
  .about--2 .container__txt--2::before {
    top: 0;
    right: 0;
  }
}

@media (min-width: 800px) {
  .about--2 .container__txt--2 {
    padding-right: 5%;
  }
}

@media (min-width: 1024px) {
  .about--2 .container__txt--2 {
    padding-right: 10%;
  }
}

.about--2 .container__img--1 {
  margin-top: -0.4rem;
}

.about--2 .container__img--2 {
  margin-top: 5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 400px) {
  .about--3 {
    text-align: center;
  }
}

.img-break {
  content: '';
  background: url(./../assets/banner.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
  height: 70vw;
}

@media (min-width: 400px) {
  .img-break {
    height: 60vw;
  }
}

@media (min-width: 550px) {
  .img-break {
    height: 45vw;
  }
}

@media (min-width: 800px) {
  .img-break {
    height: 35vw;
  }
}

.about--4 .container__img {
  content: '';
  background: url(./../assets/small-box.jpg) no-repeat center;
  background-size: cover;
  height: 75vw;
  margin: 1.25rem 0 2.5rem 1rem;
  -webkit-box-shadow: -1rem 1rem 0 #08fded;
          box-shadow: -1rem 1rem 0 #08fded;
}

@media (min-width: 600px) {
  .about--4 .container__img {
    width: calc(33% - 1rem);
    height: 26vw;
    float: left;
    margin: 0.25rem 1rem 1rem;
  }
}

@media (min-width: 900px) {
  .about--4 .container__img {
    float: none;
    width: calc(100% - 1rem);
  }
}

@media (min-width: 900px) {
  .about--4 .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about--4 .wrapper .container__img {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .about--4 .wrapper .container__txt {
    -ms-flex-preferred-size: 67%;
        flex-basis: 67%;
    padding-left: 2.5rem;
  }
}

@media (min-width: 600px) {
  .container__gallery-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.gallery-item {
  margin: 1rem 0;
}

@media (min-width: 600px) {
  .gallery-item {
    width: calc(100% / 3);
    margin: .5rem;
  }
  .gallery-item:first-child {
    margin-left: 0;
  }
  .gallery-item:last-child {
    margin-right: 0;
  }
}

/* ========== BLOG ========== */
.blog section:first-child {
  border-bottom: solid 0.25rem #08fded;
}

.blog .form__comment {
  border: solid 0.1rem #08fded;
  height: 9rem;
}

.container__comment {
  margin-bottom: 3rem;
}

.container__comment:last-of-type {
  margin-bottom: 0;
}

.container__img-user-profile {
  width: 4.5rem;
  height: auto;
}

.container__img-user-profile:first-child {
  margin-top: 1rem;
}

aside.blog {
  position: relative;
}

aside.blog::before {
  position: relative;
  display: block;
  height: 15rem;
  content: '';
  background: url(./../assets/blog-side-image.jpg) no-repeat center;
  background-size: cover;
  margin: 1.25rem 1rem -2.5rem 0;
  -webkit-transform: translateY(-4.25rem);
          transform: translateY(-4.25rem);
}

aside.blog p {
  margin-bottom: 2rem;
}

aside.blog ul {
  margin-top: 1rem;
}

aside.blog li::before {
  content: '\2022';
  color: #08fded;
  margin-right: 0.8rem;
}

/* ========== CONTACT ========== */
.container__main-aside.wrapper {
  padding: 0;
}

@media (min-width: 900px) {
  .container__main-aside.wrapper {
    padding: 0 2rem;
  }
}

aside.contact {
  padding: 4rem 0 3rem;
  text-align: center;
}

aside.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: .5rem;
}

aside.contact ul + p {
  margin-bottom: 1.25rem;
}

@media (min-width: 900px) {
  aside.contact ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  aside.contact ul a.link__icon:first-child {
    padding-left: 0;
  }
}

@media (min-width: 900px) {
  aside.contact {
    -webkit-box-ordinal-group: -9;
        -ms-flex-order: -10;
            order: -10;
    text-align: left;
  }
}

@media (min-width: 900px) {
  aside.contact .container__txt {
    max-width: 12rem;
  }
}

.contact p {
  margin: 0;
}

@media (min-width: 900px) {
  .container__main-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */