/* ========== NORMALISE ========== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* ========== VARIABLES ========== */
/* ========== MIXINS ========== */
/* ========== GLOBAL ========== */
/* ----- GENERAL ----- */
html {
  font-size: 125%;
}

body {
  background: #03697c;
}

body,
input,
textarea {
  color: #f3faff;
  letter-spacing: 0.05rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.4rem;
  font-size: .8rem;
  font-weight: 400;
}

header {
  height: 60vh;
}

input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem .7rem;
  border: none;
}

textarea {
  margin-top: 1rem;
}

img {
  display: block;
  width: 100%;
  min-width: 100%;
}

form,
section,
aside {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

/* ----- FOOTER ----- */
footer {
  padding: .4rem 0;
  text-align: center;
}

footer p {
  margin: 0;
}

/* ----- HELPER CLASSES ----- */
.bg--turq {
  background-color: #03697c;
}

.bg--purple {
  background-color: #474bb5;
}

.bg--navy {
  background-color: #044779;
}

/* ========== BASE TYPOGRAPHY ========== */
h1,
h2,
h3,
.link__btn {
  margin: 0;
  font-family: "Walter Turncoat", cursive;
}

h1 {
  font-size: 3rem;
  line-height: 2.8rem;
  position: relative;
  top: 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.05rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  text-transform: capitalize;
  font-weight: 700;
}

.comment__date {
  font-weight: 700;
  font-style: italic;
}

/* ========== LINKS & BUTTONS ========== */
.container__link {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* ----- TEXT LINKS ----- */
nav .link__txt.link__txt--active::after {
  opacity: 1;
}

.link__txt,
.link__txt--active {
  position: relative;
}

.link__txt::after,
.link__txt--active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #08fded;
}

.link__txt::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, transform .2s;
  transition: opacity .5s, transform .2s, -webkit-transform .2s;
}

.link__txt:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* ----- "BUTTON" LINKS ----- */
.link__btn {
  color: #474bb5;
  background-color: #08fded;
  font-size: 1.25rem;
  line-height: 2.05rem;
  text-transform: capitalize;
  padding: .3rem .7rem;
  border: 2px solid #08fded;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.link__btn:hover {
  color: #08fded;
}

.bg--purple .link__btn:hover {
  background-color: #474bb5;
}

.bg--turq .link__btn:hover {
  background-color: #03697c;
}

.form__btn {
  width: 100%;
}

/* ----- SOCIAL ICON LINKS ----- */
.link__icon {
  font-size: 1rem;
  margin-right: 1rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.link__icon:hover {
  color: #08fded;
}

/* ========== NAV ========== */
/* ========== FORMS ========== */
textarea {
  resize: vertical;
  height: 9rem;
}

input,
textarea {
  background-color: inherit;
}

/* ----- CONTACT FORM ----- */
.contact .form__input-name,
.contact .form__input-email {
  border-bottom: solid 2px #f3faff;
}

.contact .form__message {
  border: solid 2px #f3faff;
}

/* ----- BLOG FORM ----- */
.blog .form__input-name,
.blog .form__input-email {
  border-bottom: solid 2px #08fded;
}

/* ========== INDEX: MOB BASE ========== */
.about .container__img {
  position: relative;
}

.about .container__img::before {
  display: block;
  position: relative;
  width: calc(100% - 20px);
}

/* ----- HEADER ----- */
header.home {
  content: '';
  background: url(./../assets/home-header.jpg) no-repeat center;
  background-size: cover;
}

/* ----- ABOUT 1 ----- */
.about--1 .container__img {
  display: none;
}

@media (min-width: 640px) {
  .about--1 .container__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.about--1 .container__img::before {
  content: '';
  background: url(./../assets/home-box-header.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  top: -40vh;
  height: 300px;
  width: 300px;
  margin-bottom: -44%;
}

.about--1 li {
  margin-bottom: 1.8rem;
}

.container__icon-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__icon {
  color: #474bb5;
  background-color: #08fded;
  border-radius: 50%;
  padding: .5rem;
  margin-right: .8rem;
  width: 54px;
  height: 54px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 400px) {
  .about--1 li > p {
    padding-left: 3.5rem;
  }
}

/* ----- ABOUT 2 ----- */
.about--2 .container__img::before {
  height: 65vw;
}

.about--2 .container__img--1::before {
  content: '';
  background: url(./../assets/left-image.jpg) no-repeat center;
  background-size: cover;
  margin: -70px 20px 50px 0;
  -webkit-box-shadow: 20px 20px #08fded;
          box-shadow: 20px 20px #08fded;
}

.about--2 .container__img--2::before {
  content: '';
  background: url(./../assets/right-image.jpg) no-repeat center;
  background-size: cover;
  margin: 55px 0 50px 20px;
  -webkit-box-shadow: -20px 20px #08fded;
          box-shadow: -20px 20px #08fded;
}

/* ----- IMG BREAK ----- */
.img-break {
  content: '';
  background: url(./../assets/banner.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
  height: 70vw;
}

@media (min-width: 640px) {
  .img-break {
    height: 50vw;
  }
}

/* ----- ABOUT 4 ----- */
.about--4 .container__img::before {
  content: '';
  background: url(./../assets/small-box.jpg) no-repeat center;
  background-size: cover;
  height: 75vw;
  margin: 25px 0 50px 20px;
  -webkit-box-shadow: -20px 20px #08fded;
          box-shadow: -20px 20px #08fded;
}

/* ----- GALLERY ----- */
.gallery__item {
  margin: 1rem 0;
}

/* ========== BLOG ========== */
/* ----- HEADER ----- */
header.blog {
  content: '';
  background: url(./../assets/blog-header.jpg) no-repeat center;
  background-size: cover;
  height: 50vh;
}

/* ----- ARTICLE ----- */
.blog section:first-child {
  border-bottom: solid 5px #08fded;
}

/* ----- COMMENTS ----- */
.blog .form__comment {
  border: solid 2px #08fded;
  height: 9rem;
}

.container__comment {
  margin-bottom: 3rem;
}

section .container__comment:last-of-type {
  margin-bottom: 0;
}

.container__img-user-profile {
  width: 90px;
  height: auto;
}

.container__img-user-profile:first-child {
  margin-top: 1rem;
}

/* ----- ASIDE ----- */
aside.blog ul {
  margin-top: 1rem;
}

aside.blog li::before {
  content: '\2022';
  color: #08fded;
  margin-right: .7rem;
}

aside.blog p {
  margin-bottom: 2rem;
}

aside.blog .container__img {
  position: relative;
}

aside.blog .container__img::before {
  position: relative;
  display: block;
  height: 300px;
  content: '';
  background: url(./../assets/blog-side-image.jpg) no-repeat center;
  background-size: cover;
  margin: 25px 20px -50px 0;
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
}

/* ========== CONTACT ========== */
header.contact {
  content: '';
  background: url(./../assets/contact-header.jpg) no-repeat center;
  background-size: cover;
}

/* ----- ASIDE ----- */
aside.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .5rem;
}

aside.contact ul + p {
  margin-bottom: 1.2rem;
}

.contact p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */