article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* ========== GENERAL ========== */
html {
  font-size: 125%;
}

body {
  background: #03697c;
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}

img {
  display: block;
  width: 100%;
  min-width: 100%;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ========== FOOTER ========== */
footer {
  padding: .01rem;
  text-align: center;
}

/* ========== HELPER CLASSES ========== */
.bckgrnd-turq {
  background-color: #03697c;
}

.bckgrnd-purple {
  background-color: #474bb5;
}

.bckgrnd-navy {
  background-color: #044779;
}

h1,
h2,
h3,
.btn {
  margin: 0;
  font-family: "Walter Turncoat", cursive;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.05rem;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  text-transform: capitalize;
  font-weight: 700;
}

.txt-link,
.txt-link-active {
  position: relative;
}

.txt-link::after,
.txt-link-active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #08fded;
}

.txt-link::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, transform .2s;
  transition: opacity .5s, transform .2s, -webkit-transform .2s;
}

.txt-link:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .txt-link.txt-link-active::after {
  opacity: 1;
}

.container-btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn {
  color: #474bb5;
  background-color: #08fded;
  font-size: 1.25rem;
  line-height: 2.05rem;
  text-transform: capitalize;
  padding: .5rem .7rem;
  border: 2px solid #08fded;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.btn:hover {
  color: #08fded;
}

.bckgrnd-purple .btn:hover {
  background-color: #474bb5;
}

.bckgrnd-turq .btn:hover {
  background-color: #03697c;
}

/* ===== HEADER ===== */
header {
  background: url(./../../assets/home-header.jpg) center center no-repeat;
  background-size: cover;
  height: 50vh;
}

h1 {
  font-size: 3rem;
}

/* ===== ABOUT 1 ===== */
.container-icon-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-icon {
  color: #474bb5;
  background-color: #08fded;
  border-radius: 50%;
  padding: .5rem;
  margin-right: .8rem;
  width: 54px;
  height: 54px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ===== ABOUT 2 ===== */
.about-2 .container-img {
  position: relative;
}

.about-2 .container-img::before {
  content: '';
  background: url(./../../assets/small-box.jpg) center center no-repeat;
  display: block;
  position: relative;
  width: calc(100% - 20px);
  height: 300px;
  margin: 25px 0 50px 20px;
  -webkit-box-shadow: -20px 20px #08fded;
          box-shadow: -20px 20px #08fded;
}

/* ===== IMG BREAK ===== */
.img-break {
  margin: 0;
  background: url(./../../assets/banner.jpg) center center no-repeat;
  background-size: cover;
  height: 40vh;
}

/* ===== ABOUT 4 ===== */
.about-4 .container-img {
  position: relative;
}

.about-4 .container-img::before {
  content: '';
  background: url(./../../assets/small-box.jpg) center center no-repeat;
  display: block;
  position: relative;
  width: calc(100% - 20px);
  height: 300px;
  margin: 25px 0 50px 20px;
  -webkit-box-shadow: -20px 20px #08fded;
          box-shadow: -20px 20px #08fded;
}

/* ===== GALLERY ===== */
.gallery-item {
  margin: 1rem 0;
}
/*# sourceMappingURL=style.css.map */